[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fonttools = "==4.17.0"
font-v = "==1.0.5"
opentype-feature-freezer = "==1.32.2"
skia-pathops = "==0.6.0.post2"
PyYAML = "==5.4.1"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
build = "python3 scripts/instantiate-code-fonts.py premade-configs/lars.yaml font-data/Recursive_VF_1.081.ttf"
build_alt = "python3 scripts/instantiate-code-fonts.py premade-configs/lars_alt.yaml font-data/Recursive_VF_1.081.ttf"